.homePage {
    margin: 0 auto;
    padding: 80px 20px;
}

.homeTitle {
    font-family: Georgia, serif;
    font-size: 36px;
    font-weight: 600;
    filter: drop-shadow(1px 1px 6px rgba(54, 46, 46, 0.5));
}