.btnBack {
    width: 70px;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px 16px;
    border-radius: 8px;
    background-color: #9881dc;
    color: #fff;
    border: none;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 24px;
    transition: background-color 0.3s ease-in-out;
}

.btnBack:hover {
    background-color: #5b40b3;
}